[user]
	email = jami1063@colorado.edu
	name = jmichael16
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[url "git@github.com:"]
	insteadOf = https://github.com/
